* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
}

.grey {
  color: #918E9B;
}

nav {
  height: 70px;
  padding: 20px 36px;
  display: flex;
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px #0000001A;
}
section {
  padding: 20px 36px;
}
.hero {
  display: flex;
  flex-direction: column;
}
.heroImg {
  max-width: 400px;
  align-self: center;
}

.star {
  height: 14px;
}

.heroPara {
  margin-top: 0;
  width: 320px;
  font-weight: 300;
}

.heroHead {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
}
.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column;
  position: relative;
}
.cardImg {
  border-radius: 9px;
  width: 100%;
  margin-bottom: 9px;
}
.cardStats {
  display: flex;
  align-items: center;
}
.cardList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardBadge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.journalNav {
  height: 50px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.journalTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
  text-align: left;
  color: #FFFFFF;
}

.journalImg {
  padding: 7px;
}

.location {
  display: flex;
  align-items: inline;
  gap: 20px; 
  padding: 10px 40px 10px 40px;
  border-radius: 2px;
  border-bottom: 0.2px solid rgb(208, 202, 202);
}
.pin {
  height: 9.5px;
  width: 7px;
  border-radius: 0px;
}

.locationPin {
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0.17em;
text-align: left;
padding-left: 5px;
padding-right: 12px;
}
.maps {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #918E9B;
}
.mapLink {
  text-decoration: underline;
  color: #918E9B;
}
.fujiImg {
  height: 168px;
  width: 125px;
  border-radius: 5px;
}
.fujiHold {
  display: flex;
  align-items: center;
}
.fujiTitle {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.journalDate {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.journalDescription {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.journalInfo {
  padding-top: 19px;
  padding-bottom: 19px;
}

* {
  box-sizing: border-box;
}


main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  width: 25px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}